body:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0, .8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0, .8);
	box-shadow: 0px 0px 10px rgba(0,0,0, .8);

	z-index: 100;
}

body {
	background: #fff url("images/funky-lines.png");
}

#wrapper {	
	background-color: rgba(67, 168, 73, .69);
	border-radius: 9px;	
}

#body {
	margin-left: 5%;
	margin-right: 5%;
	padding: 5px;
	background-color: rgba(91, 73, 73, .79);	
	color: rgb(255, 255, 255);
	font-size: 1em;
	font-family: helvetica neue for SAS;	
}

.#navStyles {
	
}

.contact {
	font-size: 1em;
	font-family: helvetica neue for SAS;
	margin: 15px;
}

.footStyle {
	font-size: 1em;
	font-family: helvetica neue for SAS; 
	-webkit-box-shadow: 0px -30px 31px 2px rgba(0,0,0, .69);
	-moz-box-shadow: 0px -30px 31px 2px rgba(0,0,0, .69);
	box-shadow: 0px -30px 31px 2px rgba(0,0,0,  .69);
}